html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: auto;
  padding: 1rem;
}

embetty-tweet,
pre {
  margin: 1rem auto !important;
}

main > article {
  margin: auto;
  max-width: 900px;
  border-bottom: 1px solid #333;
  padding: 2rem 0;
}

/* article > * {
  display: inline-flex;
  width: 40%;
} */

pre {
  /* display: inline-block; */
  /* max-width: 50%; */
  width: 100%;
  vertical-align: top;
}

.my-theme {
  --embetty-border-color: red;
  --embetty-font-family: 'Comic Sans MS';
  --embetty-link-color: red;
}
