{
  "root": true,
  "extends": "@heise",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "rules": {},
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  }
}
