{
  "root": true,
  "extends": "@heise",
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true
  },
  "rules": {
    "no-unused-vars": "off"
  },
  "overrides": [
    {
     "files": ["test/*.ts", "**/*.test.ts", "*.js"],
        "rules": {
          "toplevel/no-toplevel-side-effect": "off",
          "no-magic-numbers": "off"
        }
    }
  ]
}
