{
  "root": true,
  "extends": "@heise",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "toplevel/no-toplevel-side-effect": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "overrides": [{
    "files": ["test/*.js"],
    "rules": {
      "no-magic-numbers": "off"
    }
  }],
}
