registry=https://registry.npmjs.org/

# Docs:
# https://pnpm.io/npmrc

# Storybook macht loesbare Probleme. Wenn die gefixt sind, soll das hier aktiviert werden
#strict-peer-dependencies=true
strict-peer-dependencies=false

# Set the maximum number of tasks to run simultaneously. For unlimited concurrency use Infinity.
# Since v6.10.0 you can set the workpace-concurrency as <= 0 and it will use amount of cores of the host as: max(1, (number of cores) - abs(workspace-concurrency))
workspace-concurrency=0

# When true, any missing non-optional peer dependencies are automatically installed.
auto-install-peers=true

# When this setting is set to true, packages with peer dependencies will be deduplicated after peers resolution.
dedupe-peer-dependents=true

# This setting controls how dependencies that are linked from the workspace are added to package.json.
save-workspace-protocol=rolling

# When enabled, dependencies of the root workspace project are used to resolve peer dependencies of any projects in the workspace. It is a useful feature as you can install your peer dependencies only in the root of the workspace, and you can be sure that all projects in the workspace use the same versions of the peer dependencies.
resolve-peers-from-workspace-root=true

# When resolution-mode is set to time-based, dependencies will be resolved the following way:
# 1. Direct dependencies will be resolved to their lowest versions. So if there is foo@^1.1.0 in the dependencies, then 1.1.0 will be installed.
# 2. Subdependencies will be resolved from versions that were published before the last direct dependency was published.
resolution-mode=time-based

use-lockfile-v6=true

