@import '../vars';

#powered-by {
  position: absolute;
  z-index: 3;
  right: -20px;
  bottom: 0px;
  padding: 20px 46px 5px 20px;
  font-size: 14px;
  color: var(--embetty-secondary-font-color, $embetty-secondary-font-color);
  text-decoration: none;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  svg {
    position: absolute;
    right: 10px;
    bottom: 0;
    width: 40px;
  }
}
