$embetty-border-color: #ccc;
$embetty-quote-line-color: #bbb;
$embetty-font-family: Helvetica, Roboto, 'Segoe UI', Calibri, sans-serif;
$embetty-secondary-font-color: #777;
$embetty-spacing: 1rem;
$embetty-link-color: #012469;

$embetty-media-hint-background-color: #e8e8e8;
$embetty-media-hint-border-color: #ddd;
$embetty-media-hint-font-color: #444;

$embetty-links-primary-font-color: #14171a;
$embetty-links-secondary-font-color: #999;
$embetty-links-background-color: unset;
$embetty-links-hover-background-color: rgb(245, 248, 250);
$embetty-links-hover-border-color: rgba(136, 153, 166, 0.5);
